.basic_table {
	border: 1px solid #000000;
	border-collapse: collapse;
}

.basic_table tr td {
	border: 1px solid #000000;
	padding: 3px 5px;
}

.basic_table tr:first-child td {
	background-color:#B0D8EA;
	font-weight: bold;
}

.ticket_tag {
	border-radius: 2px;
    border: 1px solid #999999;
    font-size: 15px;
    padding: 2px 4px;
	margin-right: 3px;
	cursor: pointer;
}

#cancel_search {
	font-size: 14px;
	color: #AD1733;
	margin-left: -2px;
	display: none;
	cursor: pointer;
}

.unassigned_ticket {
	background-color: #FFFFFF;
}

.assigned_ticket {
	background-color: #8DD3F9;
}

.pending_ticket {
	background-color: #FFE1A3;
}

.resolved_ticket {
	background-color: #B3dAB1;
}

.closed_ticket {
	background-color: #E8E8E8;
}